.root {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;

  text-align: center;
}

h2, h3 {
  margin: 0;
  padding: 10px 0;
}

progress {
  margin-left: 10px;
}

.clientList {
  margin-top: 10px;
  text-align: left;
}